---
layout: default
description: "An email newsletter, with one Ruby/Rails technique delivered with a ‘why?’ and a ‘how?’ every two weeks.
It’s deliberately brief, focussed & opinionated."
redirect_from:
- /one-ruby-thing
---

<header class="block p-3 mb-4">
  <a class="inline-block" href="/ruby/">
    <img
      src="/images/onerubything-horizontal.svg"
      class="w-auto h-4 sm:h-6 md:h-8"
      alt="One Ruby Thing"
    >
  </a>

  <h1 class="font-serif text sm:text-lg md:text-3xl md:w-4/5 lg:w-2/3">
    An email newsletter, with one Ruby/Rails technique delivered with a ‘why?’ and a ‘how?’ every two weeks. It’s deliberately brief, focussed
    <span class="amp text-red-900">&amp;</span>
    opinionated.
  </h1>
</header>

  <div class="grid md:grid-cols-5">
    <div class="p-3 md:col-span-3">
      <ol>
        {% for post in site.categories.ruby %}
          <li class="mb-2">
            <a class="block" href="{{ post.url }}">
              {% assign titleWords = post.title | split: ' ' %}
              {% for word in titleWords -%}
                {%- if forloop.last %}&nbsp;{% else %}  {% endif -%}
                {{- word -}}
              {%- endfor %}
            </a>
            <small class="text-gray-400">{{ post.date | date_to_long_string: 'ordinal', 'US' }}</small>
          </li>
        {% endfor %}
      </ol>
    </div>

    <div class="md:col-span-2">
      {% include email.html %}
    </div>
  </div>
</div>
