---
layout: default
---

<div id="home">
  {% assign year = true %}

  {% for post in site.posts %}
    {% capture post_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% if year == true %}
      <h2>{{ post_year }}</h2>
      <ul class="posts">
      {% assign year = post_year %}
    {% endif %}
    {% if year > post_year %}
      </ul>
      <h2>{{ post_year }}</h2>
      <ul class="posts">
      {% assign year = post_year %}
    {% endif %}
    <li><span class="date">{{ post.date | date: "%d %b" }}</span> <a href="{{ post.url }}">{{ post.title | titlecase }}</a></li>
  {% endfor %}
  </ul>
</div>
