---
layout: default
description: "CTO at CoverageBook, Rubyist, Conference Organizer, Speaker, Bootstrapper & Twin Dad."
---
<header class="block p-3 mb-4">
  <h1 class="font-serif text sm:text-lg md:text-3xl md:w-3/4 xl:w-1/2">
    {% include bio.html %}
  </h1>
</header>

<div class="grid grid-flow-dense grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3">
  <div class="col-span-2 bg-gradient-to-b from-slate-50 via-transparent via-30% rounded p-3">
    <a class="block" href="/ruby/">
      <img
        src="/images/onerubything-horizontal.svg"
        class="w-auto h-6 mb-2"
        alt="One Ruby Thing"
      >
    </a>

    <p class="text-lg mb-3">
      An email newsletter, with one Ruby/Rails technique delivered with a ‘why?’ and a ‘how?’ every two weeks. It’s
      deliberately brief, focussed
      <span class="amp text-red-900">&amp;</span>
      opinionated.
    </p>

    <ol>
      {% for post in site.categories.ruby limit: 10 %}
        <li class="mb-2">
          <a class="block" href="{{ post.url }}">
            {% assign titleWords = post.title | split: ' ' %}
            {% for word in titleWords -%}
              {%- if forloop.last %}&nbsp;{% else %}  {% endif -%}
              {{- word -}}
            {%- endfor %}
          </a>
          <small class="text-gray-400">{{ post.date | date_to_long_string: 'ordinal', 'US' }}</small>
        </li>
      {% endfor %}
    </ol>

    <a
      href="/ruby/"
      class="inline-block items-center px-3 py-2 border border-transparent rounded shadow-xs font-medium no-underline text-gray-100 bg-red-800 hover:bg-red-700 hover:text-white hover:no-underline hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-700 cursor-pointer"
    >
      100+ articles</a
    >
  </div>

  <div class="col-span-2 md:col-span-1 lg:col-span-2 grid gap-3 grid-cols-2 md:grid-cols-1 lg:grid-cols-2 grid-flow-dense">
    {% include brightonruby.html %}
    {% include usingrails.html %}
    {% include firstrubyfriend.html %}
    {% include whatthestack.html %}

    <div class="col-span-2 md:col-span-1 lg:col-span-2 bg-gradient-to-b from-slate-50 via-transparent via-10% rounded p-3">
      <h2 class="font-serif bold text-lg">
        <a href="/other/">Other Archives</a>
      </h2>

      <ol class="w-full">
        {% assign other_post_count = 0 %}
        {% for post in site.posts %}
          {% if post.categories contains 'ruby' %}
          {% elsif other_post_count < 5 %}
            <li class="mb-1 flex items-baseline justify-between gap-3">
              <a href="{{ post.url }}">
                {% assign titleWords = post.title | split: ' ' %}
                {% for word in titleWords -%}
                  {%- if forloop.last %}&nbsp;{% else %}  {% endif -%}
                  {{- word -}}
                {%- endfor %}
              </a>
              <small class="flex-none text-gray-400"> {{ post.date | date_to_string: 'ordinal', 'US' }}</small>
            </li>
            {% assign other_post_count = other_post_count | plus: 1 %}
          {% else %}

          {% endif %}
        {% endfor %}
        <li class="mb-1 flex items-baseline justify-between gap-3">
          <a
            href="/other/"
            class=""
          >
            &amp; more articles&hellip;</a
          >
        </li>
      </ol>
    </div>
  </div>
</div>
