---
layout: default
---

<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <h1 class="h3">{% include bio.html %}</h1>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <p>{% include sell.html %}</p>
      <p>You should follow me on Twitter, <a href="http://twitter.com/andycroll">@andycroll</a></p>
    </div>

    <div class="col-md-6">
      <h2 class="h4">Design <span class="amp">&amp;</span> Development</h2>

      <ul class="list-unstyled">
      {% for post in site.posts %}
      {% if post.categories contains 'development' or post.categories contains 'mac' or post.categories contains 'ios' or post.categories contains 'ruby' or post.categories contains 'design' %}
        <li>
          <a href="{{ post.url }}">{{ post.title | titlecase }}</a>
        </li>
      {% endif %}
      {% endfor %}
      </ul>
    </div>

    <div class="col-md-6">
      <h2 class="h4">Bootstrapping <span class="amp">&amp;</span> Startups</h2>
      <ul class="list-unstyled">
      {% for post in site.posts %}
      {% if post.categories contains 'startups' or post.categories contains 'bootstrapping' or post.categories contains 'business' %}
        <li>
          <a href="{{ post.url }}">{{ post.title | titlecase }}</a>
        </li>
      {% endif %}
      {% endfor %}
      </ul>
    </div>

    <div class="col-md-6">
      <h2 class="h4">Other Stuff</h2>
      <ul class="list-unstyled">
      {% for post in site.posts %}
      {% if post.categories contains 'life' %}
        <li>
          <a href="{{ post.url }}">{{ post.title | titlecase }}</a>
          <small>{{ post.date | date: "%Y" }}</small>
        </li>
      {% endif %}
      {% endfor %}
      </ul>

      <h2 class="h4">Travel</h2>
      <ul class="list-unstyled">
      {% for post in site.posts %}
      {% if post.categories contains 'travel' %}
        <li>
          <a href="{{ post.url }}">{{ post.title | titlecase }}</a>
          <small>{{ post.date | date: "%Y" }}</small>
        </li>
      {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
