He's CTO at <a href="https://coveragebook.com">CoverageBook</a>, Rubyist,
Conference Organizer of <a href="https://brightonruby.com">Brighton Ruby</a>,
Speaker, Bootstrapper <span class="amp text-red-900">&amp;</span> Twin&nbsp;Dad.

{% comment %}
Alternative bio option (first person, benefit-oriented):

I write about Ruby <span class="amp text-red-900">&amp;</span> Rails, run
<a href="https://brightonruby.com">Brighton Ruby</a> conference, and build tools
for the Ruby community. CTO at <a href="https://coveragebook.com">CoverageBook</a>,
twin&nbsp;dad.
{% endcomment %}
