<div class="row">
  <div class="col-xs-3 col-sm-2 col-md-4 col-lg-3 col-xl-2">
    <a href="/html-email/">
      <img class="media-object" src="/images/2014/html-email-cover.jpg" alt="HTML Email Cover">
    </a>
  </div>
  <div class="col-xs-9 col-sm-10 col-md-8 col-lg-9 col-xl-10">
    <h4 class="h5"><a href="/html-email/">HTML Email</a></h4>
    <p>
      A Guide to Responsive Email
      <br />
      <a href="/html-email/">Buy Now</a>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-3 col-sm-2 col-md-4 col-lg-3 col-xl-2">
    <a href="/building-ruby-gems/">
      <img class="media-object" src="/images/2014/building-ruby-gems-cover.jpg" alt="Building Ruby Gems Cover">
    </a>
  </div>
  <div class="col-xs-9 col-sm-10 col-md-8 col-lg-9 col-xl-10">
    <h4 class="h5"><a href="/building-ruby-gems/">Building Ruby Gems</a></h4>
    <p>
      How to properly Open Source your work
      <br />
      <a href="/building-ruby-gems/">Sign Up Now</a>
    </p>
  </div>
</div>

<p>Also writing <a href="/ultimate-guide-to-rails-on-heroku/">The Ultimate Guide to Running Rails on Heroku</a></p>
