<div class="max-w-xl mx-auto lg:mx-0 lg:w-1/5 lg:absolute lg:top-5 lg:right-0">
  <a
    href="https://brightonruby.com/?utm_source=andycroll.com&utm_medium=banner&utm_campaign=onerubything"
    class="bg-slate-100 m-1 my-2 px-2 py-3 rounded block gap-3 flex flex-col items-start sm:items-center sm:flex-row lg:items-start lg:flex-col"
  >
    <img
      class="m-0 w-36"
      src="/images/brighton-ruby-squarer.svg"
      alt="Brighton Ruby 2024"
    />
    <div>
      <p class="text-sm m-0 font-semibold leading-6">
        The UK’s friendliest, Ruby & Rails event.
        <br class="hidden sm:block" />
        Friday 28th&nbsp;June.
        <br class="hidden sm:block" />
        Includes ice cream&nbsp;<span aria-hidden="true">&rarr;</span>
      </p>
    </div>
  </a>
</div>
