<a
  href="https://brightonruby.com/?utm_source=andycroll.com&utm_medium=banner&utm_campaign=onerubything"
  class="bg-slate-50 -mx-4 p-4 rounded-xl block flex items-start sm:items-center flex-col gap-4 sm:flex-row"
>
  <img
    class="w-2/5 m-0 sm:w-36"
    src="/images/brighton-ruby-squarer.svg"
    alt="Brighton Ruby 2024"
  />
  <div>
    <p class="text-sm m-0 font-semibold leading-6">
      Still running UK’s friendliest, Ruby event on Friday 28th&nbsp;June.<br
        class="hidden sm:block"
      />
      Ice cream + Ruby&nbsp;<span aria-hidden="true">&rarr;</span>
    </p>
  </div>
</a>
