<div class="bg-gradient-to-b from-stone-100 dark:from-slate-800 via-transparent via-10% rounded">
  <a
    href="https://brightonruby.com/?utm_source=andycroll.com&utm_medium=banner&utm_campaign=onerubything"
    class="rounded block p-3"
  >
    <div>
      <img
        src="/images/brightonruby-horizontal.svg"
        alt="Brighton Ruby 2024"
        class="w-auto h-6 mb-2 dark:invert"
        loading="lazy"
      >
      <p class="text-sm m-0 font-semibold leading-6 ">
        The UK’s friendliest, Ruby & Rails event.
        <br class="hidden sm:block">
        Thursday 19th&nbsp;June, 2025.
        <br class="hidden sm:block">
        Includes ice cream<span aria-hidden="true">&nbsp;&rarr;</span>
      </p>
    </div>
  </a>
</div>
