<form
  method="post"
  action="https://goodscary.mailcoach.app/subscribe/a1246c9e-31ea-456a-aa14-7dddfea43c10"
  class="validate"
  target="_blank"
  novalidate=""
>
  <div class="form-group">
    <label for="email" class="sr-only">Email</label>
    <input
      name="email"
      type="email"
      class="w-full max-w-sm text-slate-800 focus:border-slate-300 ring-slate-200 rounded mb-2"
      placeholder="yourname@email.com"
    />
  </div>

  <input
    type="submit"
    value="Get Emails"
    class="inline-block items-center px-3 py-2 border border-transparent rounded shadow-sm font-medium no-underline text-gray-100 bg-red-800 hover:bg-red-700 hover:text-white hover:no-underline hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-700 cursor-pointer"
  />
</form>
