<div class="bg-gradient-to-b from-red-50 via-transparent via-10% rounded">
  <a
    href="https://firstrubyfriend.org"
    class="rounded block p-3"
  >
    <div>
      <img
        src="/images/firstrubyfriend.svg"
        alt="First Ruby Friend"
        class="w-auto h-6 mb-2"
        loading="lazy"
      >
      <p class="text-sm m-0 font-semibold leading-6 ">
        A mentoring programme for the Ruby community.
        <br class="hidden sm:block">
        Get help, give help.
        <br class="hidden sm:block">
        Signup to mentor or apply<span aria-hidden="true">&nbsp;&rarr;</span>
      </p>
    </div>
  </a>
</div>
