<footer role="contentinfo" class="container px-3 mx-auto my-12">
  <div class="text-center md:text-left md:grid md:grid-cols-7 gap-3">
    <div class="md:col-span-1 mb-8 md:mb-0">
      <img src="/images/andycroll.jpg" class="rounded-full block shadow-lg w-24 md:w-4/5 xl:w-3/5 mx-auto md:mx-0" />
    </div>

    <div class="md:col-span-6 lg:col-span-5 xl:col-span-4 my-3">
      <p class="font-serif text-lg sm:text-xl">{% include bio.html %}</p>
    </div>

    <div class="mb-3 md:col-start-2 md:col-span-2">
      <h5 class="font-medium text-lg font-serif"><a href="https://andycroll.com/ruby">One Ruby Thing</a></h5>
      <p>An email explaining a Ruby/Rails technique every two weeks.</p>
    </div>

    <div class="mb-3 md:col-span-2">
      <h5 class="font-medium text-lg font-serif"><a href="https://brightonruby.com/">Brighton Ruby</a></h5>
      <p>The OG, one-day, <i>in-person</i>, single track conference for Rubyists.</p>
    </div>

    <div class="mb-3 md:col-span-2">
      <h5 class="font-medium text-lg font-serif"><a href="http://chatsinthecupboard.com">Chats in the Cupboard</a></h5>
      <p>A podcast between a cupboard in Portland, USA, and a spare bedroom in Brighton, UK.</p>
    </div>
  </div>
</footer>
