<div class="elsewhere">
  <p class="email">
    <a href="mailto:andy@goodscary.com">Email me</a> or <a href="http://twitter.com/andycroll">@andycroll</a> on Twitter
  </p>
  <p class="links">
    hire me at <a href="http://goodscary.com/">Good Scary</a>
  </p>
  <p class="links">
    ship a <a href="http://bootstrapping.io/">bootstrapping newsletter</a> every week
  </p>
  <p class="links">
    organize a <a href="http://brightonruby.com/">ruby conference in Brighton</a>
  </p>
  <p class="links">
    wrote a book about <a href="https://spb.io/SPEsEfSrH4">HTML Email</a>
  </p>
  <p class="links">
    writing ruby books on <a href="/building-ruby-gems/">building ruby gems</a>, <a href="/building-apis-on-rails/">building apis on rails</a> &amp; <a href="/ultimate-guide-to-rails-on-heroku/">running apps on heroku</a>
  </p>
  <p class="links">
    see also <a href="http://twitter.com/andycroll" class="twitter">Twitter</a> <a href="http://dribbble.com/players/andycroll" class="dribbble">Dribbble</a> <a href="http://github.com/andycroll" class="github">Github</a>
  </p>
</div>

<p><small><a href="/rss.xml" class="rss">RSS</a> &bull; Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}</small></p>
