<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset=utf-8>
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">

  <meta name="MSSmartTagsPreventParsing" content="true" />

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

  {% assign imagebase = page.image.base %}
  {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}

  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ page.description }}">
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}

  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:site_name" content="{{ site.title }}">

  <meta property="og:type" content="article">
  {% if imagebase %}
    <meta property="og:image" content="https://andycroll.com/images/{{ imagebase }}-1024.jpg">
  {% endif %}
  <link rel="og:url" href="{{ canonical }}">

  <meta name="twitter:creator" content="@andycroll">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:site" content="@andycroll">

  {% if imagebase %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="https://andycroll.com/images/{{ imagebase }}-1024.jpg">
  {% else %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{{ root_url }}/images/andycroll.jpg">
  {% endif %}

  <link rel="canonical" href="{{ canonical }}">

  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png" />

  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  <link href="{{ root_url }}/favicon.ico" rel="icon">
  <link href="/stylesheets/main.css" media="screen, projection" rel="stylesheet" type="text/css">

  <link href="/index.xml" rel="alternate" title="{{site.title}}" type="application/atom+xml">
</head>
