<div id="branding">
  <div id="site-title">
    <h1><a href="/">Andy Croll</a></h1>
    <p id="job">Web Designer <span class="amp">&amp;</span> Ruby on Rails chap</p>
  </div>
  <div class="extra" id="role">
    <p><strong>CTO at <a href='http://impulseflyer.com' title='ImpulseFlyer: Boutique &amp; Luxury Hotels'>ImpulseFlyer</a></strong> &bull; Organiser of <a href='http://reddotrubyconf.com' title="South East Asia's first Ruby Conference">RedDotRubyConf</a></p>
    <p>The writing of the user-experience-focussed, web-designing, ruby programming, startup-ing, Singapore-based Brit</p>
  </div>
  <div class="extra elsewhere">
    <h2>Signup for (rare) emails&hellip;</h2>
    <form action="http://sendy.goodscary.com/subscribe" method="POST" accept-charset="utf-8">
      <div>
        <label for="name">Name</label><br />
        <input type="text" name="name" id="name" />
      </div>
      <div>
        <label for="name">Email</label><br />
        <input type="email" name="email" id="email" />
      </div>
      <input type="hidden" name="list" value="1"/>
      <div class="actions">
        <input type="submit" name="submit" id="submit"/>
      </div>
    </form>

    <h2>Elsewhere&hellip;</h2>
    <p class="links">
      <a href="mailto:andycroll@deepcalm.com" class="email">Email</a> <a href="http://twitter.com/andycroll" class="twitter">Twitter</a> <a href="http://facebook.com/andycroll" class="facebook">Facebook</a> <a href="http://dribbble.com/players/andycroll" class="dribbble">Dribbble</a> <a href="http://github.com/andycroll" class="github">Github</a> <a href="/rss.xml" class="rss">RSS</a>
    </p>
  </div>
</div>
