<div id="branding">
  <div id="site-title">
    <p><a href="/">Andy Croll</a></p>
    <p id="job">Designer <span class="amp">&amp;</span> Ruby on Rails Chap</span></p>
  </div>
  <div class="extra" id="role">
    <p>CTO at <a href='http://impulseflyer.com' title='ImpulseFlyer: Boutique &amp; Luxury Hotels'>ImpulseFlyer</a> &bull; Creator of <a href='http://reddotrubyconf.com' title="South East Asia's first Ruby Conference">RedDotRubyConf</a></p>
    <!-- <p>The writing of the user-experience-focussed, web-designing, ruby programming, startup-ing Brit</p> -->
  </div>
</div>
