<a
  href="https://railsconf.org/?utm_source=andycroll.com&utm_medium=banner&utm_campaign=onerubything"
  class="bg-amber-50 -mx-4 p-4 rounded-xl block flex items-start sm:items-center flex-col gap-4 sm:flex-row mb-4"
>
  <img
    class="w-1/3 m-0 sm:w-36"
    src="/images/railsconf-detroit.svg"
    alt="RailsConf 2024"
  />
  <div>
    <p class="text-sm m-0 font-semibold leading-6">
      I'm co-chairing RailsConf 2024 in Detroit May&nbsp;7–9.<br
        class="hidden sm:block"
      />
      Come and join us&nbsp;<span aria-hidden="true">&rarr;</span>
    </p>
  </div>
</a>
