<div class="bg-gradient-to-b from-stone-100 via-transparent via-10% rounded">
  <a
    href="https://rubytshirts.com/?utm_source=andycroll.com&utm_medium=banner&utm_campaign=rubytshirts"
    class="rounded block p-3"
  >
    <div>
      <img
        src="/images/rubytshirts-horizontal.png"
        alt="Ruby T-Shirts"
        class="w-auto h-6 mb-2"
        loading="lazy"
      >
      <p class="text-sm m-0 font-semibold leading-6 ">
        Developer, Movie & Gaming t-shirts printed (on demand) and sent around the world.
        <br class="hidden sm:block">
        Shop now<span aria-hidden="true">&nbsp;&rarr;</span>
      </p>
    </div>
  </a>
</div>
