<div class="bg-gradient-to-b from-stone-100 via-transparent via-10% rounded">
  <a
    href="https://usingrails.com/?utm_source=andycroll.com&utm_medium=banner&utm_campaign=usingrails"
    style="background-image: linear-gradient(178deg, #44403c 45px, #f5f5f4 45.5px)"
    class="rounded block p-3"
  >
    <div>
      <img
        src="/images/usingrails-horizontal.svg"
        alt="Using Rails"
        class="w-auto h-6 mb-2"
        loading="lazy"
      >
      <p class="text-sm m-0 font-semibold leading-6 ">
        All the organisations in the world, using Ruby on Rails
        <br class="hidden sm:block">
        Well nearly.
        <br class="hidden sm:block">
        Add yours today<span aria-hidden="true">&nbsp;&rarr;</span>
      </p>
    </div>
  </a>
</div>
