<div class="bg-gradient-to-b from-blue-100 via-transparent via-10% rounded">
  <a
    href="https://whatthestackpodcast.com"
    class="rounded block p-3"
  >
    <div>
      <img
        src="/images/whatthestack-horizontal.svg"
        alt="What The Stack Podcast"
        class="w-auto h-6 mb-2"
        loading="lazy"
      >
      <p class="text-sm m-0 font-semibold leading-6 ">
        A podcast about the software, hardware, teams & tools folks use to make amazing things.
        <br class="hidden sm:block">
        Subscribe<span aria-hidden="true">&nbsp;&rarr;</span>
      </p>
    </div>
  </a>
</div>
