/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 16px; line-height: 1.25; }

body, button, input, select, textarea { font-family: sans-serif; color: rgb(25,25,25); }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: rgb(23,2,2); color: rgb(235,235,235); text-shadow: none; }
::selection { background: rgb(23,2,2); color: rgb(235,235,235); text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a, a:link, a:visited, a:hover, a:active, a:focus {
  color : darken(rgb(200,25,25), 8%);
  text-decoration : none;
  border-bottom: 1px rgb(25,25,200);
}

a:hover, a:active, a:focus {
  color : rgb(200,25,25);
  text-decoration : underline;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 1.25em; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label {
  margin-top: 6px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #444;
  line-height: 1;
  cursor: pointer;
}
.actions {
  margin-top: 6px;
  .elsewhere.extra & {
    margin-bottom: 18px;
  }
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

body {
  font-size : 1em; line-height : 1.5;
  font-family : 'Lora', Georgia, "Times New Roman", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family : 'Lora', Georgia, "Times New Roman", serif;
  font-weight : bold;
}

h1 {
  font-size : 2em; line-height: 1em;
  letter-spacing : -1px;
  margin: 0;
}

h2 {
  font-size : 1.5em;
  font-style: none;
  color: rgb(50,50,50);
  /*padding: 7px 0 5px 0;*/
  margin: 0;
}

h3 {
  font-size : 1.25em;
  font-weight: bold;
  color: rgb(50,50,50);
  padding: 9px 0 3px 0;
  margin: 0;
}

h4 {
  font-size : 1.125em;
  font-weight: bold;
  color: rgb(80,80,80);
  padding: 8px 0 3px 0;
  margin: 0;
}

h5 {
  font-size : 1em; line-height : 2em;
  text-transform : uppercase;
  font-weight: normal;
  color: rgb(150,150,150);
  margin: 0;
}

p, ul, ol {
  margin: 0 0 1em 0;
}

blockquote {
  margin : 11px;
  padding : 10px 11px 1px 11px;
  background-color : rgb(230,230,230);
  border-left: 11px solid rgb(220,220,220);
}

pre, code, kbd, samp { font-size: 12px; line-height: 22px; }

cite {
  display : block;
  text-align : right;
  margin-right : 20px;
}

img { -ms-interpolation-mode:bicubic; }

[role='banner'], [role='main'], [role='contentinfo'] {
  padding: 1em 1em 0 1em;
}

#branding {
  #site-title {
    p {
      font-size : 1.5em; line-height: 1;
      margin: 0;
      font-weight: bold;

      color: rgb(90,90,90);
    }

    #job {
      font-size : 1em; line-height: 1.5;
      font-weight: normal;
      color: rgb(150,150,150);
    }

    a, a:link, a:visited, a:hover, a:active, a:focus {
      color: rgb(60,60,60);
      text-decoration: none;
    }

    padding-bottom: 0.95em;
    border-bottom: 1px solid rgb(240,240,240);
  }

  .amp {
    font-family : Baskerville, Constantia, Palatino, "Palatino Linotype", "Times New Roman", Times, serif;
    color : rgb(125,25,20);
    font-weight : normal; font-style: italic;
    display : inline-block;
    font-size : 1.1em;
    margin : 0 0 0 -2px;
  }

  .extra {
    display: none;
  }
}

[role="contentinfo"] {
  p {
    color: rgb(180,180,180);
    text-transform : lowercase;
  }
  a, a:link, a:visited, a:hover, a:active, a:focus {
    color: rgb(150,150,150);
  }
}

#followme {
  border-top: 1px solid rgb(240,240,240);
  margin: 1em 0; padding-top: 1em;
}

.date {
  color: rgb(150,150,150);
  font-size: 0.75em;
}

#home {
  ul, li {
    list-style: none;
    padding: 0;
  }
  li {
    span {
      width: 15%;
      display: block;
      float: left;
    }
    a {
      margin-left: 15%;
      display: block;
    }
  }
}

@media screen and (min-width: 40em) {
  body {
    font-size: 18px;
    max-width: 55em;
    margin: 0 auto;
  }

  [role='banner'], [role='main'], [role='contentinfo'] {
    padding: 1em 1em 0 1em;
  }

  [role='banner'], [role='contentinfo'] {
    float: right;
    width: 30%;
  }

  [role='main'] {
    float: left;
    width: 70%;
  }

  #branding {
    #site-title {
      border-top: 1px solid rgb(240,240,240);
      padding-top: 1em;

      p {
        font-size: 1.5em; line-height: 1;
        letter-spacing : -1px;
      }

      #job {
        font-size: 1.25em; line-height: 1.125;
      }
    }
  }
}

@media screen and (min-width: 52em) {
  body {
    font-size: 21px;
    max-width: 55em;
  }

  [role='main'] {
    padding: 1em 3em 0 3em;
  }

}


input[type=submit] {
  clear: both;
  background: rgb(125,25,20);
  background: -moz-linear-gradient(top,rgb(125,25,20) 0%,darken(rgb(125,25,20), 5%) 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(125,25,20)),color-stop(100%,darken(rgb(125,25,20), 5%)));
  background: -webkit-linear-gradient(top,rgb(125,25,20) 0%,darken(rgb(125,25,20), 5%) 100%);
  background: -o-linear-gradient(top,rgb(125,25,20) 0%,darken(rgb(125,25,20), 5%) 100%);
  background: -ms-linear-gradient(top,rgb(125,25,20) 0%,darken(rgb(125,25,20), 5%) 100%);
  background: linear-gradient(top,rgb(125,25,20) 0%,darken(rgb(125,25,20), 5%) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(125,25,20)',endColorstr='darken(rgb(125,25,20), 5%)',GradientType=0);
  padding: 8px 13px;
  color: #fff;
  font-family: 'Helvetica Neue',sans-serif;
  font-size: 17px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid darken(rgb(125,25,20), 20%)
}
