@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
  --font-serif: "merriweatherregular", "Constantia", "Palatino", "Palatino Linotype", "Georgia", serif;

  --breakpoint-sm: 400px;
  --breakpoint-md: 600px;
  --breakpoint-lg: 800px;

  --aspect-4/1: 4 / 1;
}

.prose a,
.prose-lg a {
  @apply text-stone-800 hover:text-red-700 decoration-1 decoration-red-700 underline-offset-2 underline;
}