---
---
@import "custom";

@import "bootstrap/functions";
@import "bootstrap/variables";

// Core variables and mixins
@import "bootstrap/mixins";
@import "bootstrap/print";
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
// @import "bootstrap/transitions";
// @import "bootstrap/dropdown";
// @import "bootstrap/button-group";
// @import "bootstrap/input-group";
// @import "bootstrap/custom-forms";
// @import "bootstrap/nav";
// @import "bootstrap/navbar";
// @import "bootstrap/card";
// @import "bootstrap/breadcrumb";
// @import "bootstrap/pagination";
// @import "bootstrap/badge";
// @import "bootstrap/jumbotron";
// @import "bootstrap/alert";
// @import "bootstrap/progress";
// @import "bootstrap/media";
// @import "bootstrap/list-group";
// @import "bootstrap/close";
// @import "bootstrap/modal";
// @import "bootstrap/tooltip";
// @import "bootstrap/popover";
// @import "bootstrap/carousel";
@import "bootstrap/utilities";

@import 'syntax';

h2, h3 { margin-top: 1.6rem; }

pre {
  padding: 0.5em;
}

.amp {
  font-family: Baskerville, Constantia, Palatino, "Palatino Linotype", "Times New Roman", Times, serif;
  color: $red;
  font-weight: normal; font-style: italic;
  display: inline-block;
  font-size: 125%;
  margin: -0.3em 0 0 -0.02em;
}

.logo-footer { width: 50px; height: 50px; fill: #FFF; }
