---
---
@import "bootstrap/functions";
@import "bootstrap/variables";

// Core variables and mixins
@import "bootstrap/mixins";
@import "bootstrap/print";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/utilities";

@import 'syntax';

blockquote {
  @extend .blockquote;
}

pre {
  padding: 0.5em;
}
// .highlight {
//   max-width: 49em;
//   font-size: 0.75em;
//   padding: 0.5em;
//   margin: 0 -0.5em 1em;
//   overflow-x: scroll;
//   overflow-y: hidden;
// }

.amp {
  font-family: Baskerville, Constantia, Palatino, "Palatino Linotype", "Times New Roman", Times, serif;
  color: $red;
  font-weight: normal; font-style: italic;
  display: inline-block;
  font-size: 125%;
  margin: -0.3em 0 0 -0.02em;
}

// table {
//   font-size: 1em;
//   line-height: (1em * 26/16);
//   width: 100%;
//   max-width: 36.65em;
//   margin-bottom: 1em;
// }
//
// table .numeric {
//   text-align: right;
// }
//
// .block-link, .block-link:link, .block-link:hover, .block-link:visited, , .block-link:active {
//   display: inline-block;
//   text-decoration: none;
//   padding: 0.75rem;
//   color: $gray-dark;
//   background: $gray-lightest;
// }

.logo-footer { width: 50px; height: 50px; fill: #FFF; }
