---
---
@import 'normalize';
@import 'syntax';

$font-family: Georgia, "Times New Roman", serif;
$color-background: rgb(250,250,250);
$color-primary: rgb(38,38,38);
$color-primary-heading: rgb(8,8,8);
$color-secondary: rgb(186,186,186);
$color-tertiary: rgb(226,226,226);
$color-highlight: rgb(155,55,50);

$mini: 380px;
$medi: 700px;
$maxi: 1000px;

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: 16px;
  color: $color-primary;

  @media screen and (min-width: $mini) {
    font-size: 18px;
  }

  @media screen and (min-width: $medi) {
    font-size: 20px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family;
  font-weight: normal;
  color: $color-primary-heading;

  margin-top: 0;
}

h1 {
  font-size: (1em * 32/16);
  margin-bottom: (1em * 8/32);
}

h2 {
  font-size: (1em * 24/16);
  margin-bottom: (1em * 8/24);

  * + & {
    margin-top: (1em * 16/24);
  }
}

h3 {
  font-size: (1em * 20/16);
  font-style: italic;
  margin-bottom: (1em * 8/20);

  * + & {
    margin-top: (1em * 16/24);
  }
}

p, li {
  font-size: 1em;
  line-height: 1em * 1.5;
  margin-top: 0;
  margin-bottom: (1em * 12/18);

  @media screen and (min-width: $mini) {
    margin-bottom: 1em;
  }

  code {
    font-size: (100% * 17/18);
  }
}

li {
  margin-bottom: (1em * 12/18);

  @media screen and (min-width: $mini) {
    margin-bottom: 0.5em;
  }
}

code {
  font-family: Menlo, Monaco, monospace;
}

pre {
  font-family: Menlo, Monaco, monospace;

  @media screen and (min-width: $mini) {
    margin-bottom: 1.3333em;
  }
}

a, a:link, a:visited {
  text-decoration: none;
  color: $color-primary;

  background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 95%;
}

a:hover, a:focus, a:active {
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,0.8) 50%);
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,0.8) 50%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,0.8) 50%);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.8) 50%);
}

small {
  font-size: 75%;
  color: $color-secondary;
}

img {
  width: 100%;
  height: auto;
}

.amp {
  font-family: Baskerville, Constantia, Palatino, "Palatino Linotype", "Times New Roman", Times, serif;
  color: $color-highlight;
  font-weight: normal; font-style: italic;
  display: inline-block;
  font-size: 125%;
  margin: -0.2em 0 0 -0.02em;
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0;
  border-top: 1px solid $color-secondary;
}

table {
  font-size: 1em;
  line-height: (1em * 26/16);
  width: 100%;
  max-width: 36.65em;
  margin-bottom: 1em;
}

table .numeric {
  text-align: right;
}

@media screen and (max-width: $mini) {
  table .notonphone {
    display: none;
  }
}

th, td {
  text-align: left;
}


#branding {
  position: fixed;
  top: 1em;
  left: 0;

  width: 304px;
  padding: 1em;
  line-height: 1;

  color: $color-background;
  background: $color-primary;
}

#site-title {
  color: $color-background;
  background: none;
}

#job {
  // display: none;
  color: $color-secondary;
  font-size: 0.8em;
}

.column {
  padding: 1em;

  p:last-child {
    margin-bottom: 0;
  }
}

.article-list {
  padding: 0;
  list-style: none;
}

.main {
  margin-top: 5em;
  max-width: $medi;

  @media screen and (min-width: $medi) {
    width: 67.5%;
    margin: 5em auto 0;
  }

  @media screen and (min-width: $maxi) {
    width: 55%;
    margin: 5em auto 0;
  }
}

#books {
  clear: both;
}

.book {
  display: block;
  float: left;

  width: 50%;

  padding-right: 0.5em;

  + .book {
    padding-right: 0;
    padding-left: 0.5em;
  }

  @media screen and (min-width: $mini) {
    + .book {
      padding-left: 0;
    }

    .thumbnail {
      float: left;
      width: 80px;
      margin-bottom: 1em;
    }

    p {
      padding: 1em 0 0 96px;
    }
  }
}
