{% include head.html %}
<body>
  <div class="container pt-3 pb-2">
    <div class="row">
      <!-- <div class="col-sm-1 d-none d-sm-block">&nbsp;</div> -->
      <div class="col-6">
        <a href="/" class="btn btn-dark h2">Andy Croll</a>
      </div>
      <div class="col-6 text-right">
        <a href="/now" class="btn btn-outline btn-outline-dark h2">Now</a>
      </div>
    </div>
  </div>

  <div role="main" class="main">
    {{ content | expand_urls: root_url }}
  </div>

  {% include footer.html %}
  {% include javascripts.html %}
</body>
</html>
