{% include head.html %}

<body>
  <div class="container mx-auto p-3">
    <div class="flex font-serif">
      <div class="flex-1">
        <a href="/"
          class="inline-block items-center px-3 py-2 border border-transparent rounded shadow-lg text-sm font-medium no-underline text-white bg-slate-800 hover:bg-slate-700 hover:text-white hover:no-underline focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-700">Andy
          Croll</a>
        <a href="/ruby/"
          class="inline-block items-center px-3 py-2 border border-transparent rounded shadow-lg text-sm font-medium no-underline text-white bg-red-700 hover:bg-red-800 hover:text-white hover:no-underline focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-700">One
          Ruby Thing</a>
      </div>
      <div class="flex-1 text-right">
        <a href="/now/"
          class="inline-block items-center px-3 py-2 border border-transparent rounded shadow-lg text-sm font-medium text-slate-800 bg-white hover:bg-slate-900 hover:text-white hover:no-underline focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-700">Now</a>
      </div>
    </div>
  </div>

  <div role="main">
    {{ content | expand_urls: root_url }}
  </div>

  {% include footer.html %}
  {% include javascripts.html %}
</body>

</html>