---
layout: default
---
<div class="container-fluid">
  <div class="row">
    <article>
      <div class="col-sm-11">
        <header>
          <h1 class="h2">{{ page.title | titlecase }}</h1>
        </header>
      </div>

      <div class="col-sm-10 col-md-8 col-lg-7">
        {{ content }}

        <footer>
          <hr>
          <p><i>Last updated: {{ page.date | date: "%b %Y" }}</i></p>
          <hr>
        </footer>
      </div>
    </article>

    <div class="col-sm-2 hidden-xs-down hidden-md-up">
      <a href="#more-info" class="block-link">&#9660;</a>
    </div>

    <aside id="more-info" class="col-md-4 col-offset-lg-1 col-lg-4 text-muted">
      <h6><a href="https://twitter.com/andycroll">@andycroll</a></h6>

      <hr>

      <p>{% include bio.html %}</p>

      <hr>
    </aside>
  </div>
</div>
