---
layout: default
---
<article>
  <header>
    <h1 class="entry-title">{{ page.title | titlecase }}</h1>
    <p><span class="date">&nbsp;&raquo; {{ page.date | date: "%d %b %Y" }}</span></p>
  </header>
  <div class="entry-content">{{ content }}</div>
</article>

<div id="followme">
  <p>If you liked this, you should follow me on Twitter, <a href="http://twitter.com/andycroll">@andycroll</a>.</p>
  <p>Or sign up to get a (rare) email from me.</p>
  <div>
    <label for="name">Name</label><br />
    <input type="text" name="name" id="name" />
  </div>
  <div>
    <label for="name">Email</label><br />
    <input type="email" name="email" id="email" />
  </div>
  <input type="hidden" name="list" value="1"/>
  <div class="actions">
    <input type="submit" name="submit" id="submit"/>
  </div>
</div>
