name: Deploy

on:
  schedule:
    - cron: "0 0/6 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Trigger Render.com Hook
      run: curl -X POST ${{ secrets.render_deploy_hook }}
